In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Import CSV into DataFrame
shopping_df = pd.read_csv(Path('./Resources/shopping_data.csv'))
shopping_df.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [3]:
# Columns
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [4]:
# List of DF Data types
shopping_df.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [5]:
# Find null values
for column in shopping_df.columns:
    print(f"Column {column} has {shopping_df[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [6]:
# Drop null rows
shopping_df = shopping_df.dropna

In [7]:
# Find duplicate values
print(f"Show duplicates: {shopping_df.duplicated().sum()}")

AttributeError: 'function' object has no attribute 'duplicated'